  <h1 class="mt-2">活動一覧</h1>
  <p>ここから新たな人生を</p>
  <div class="row">
    <div class="col-md-4">
      <div class="col-sm-12 mx-2 mx-sm-auto shadow-lg rounded px-0 my-4">
        <div class="form-body p-4">
          <%= render 'public/posts/form', post: @post %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3>人気のタグ</h3>
      <%= link_to "すべて", posts_path, class: "badge badge-secondary" %>
      <%= render 'public/tags/tags', tags: Tag.joins(:post_tags).group('post_tags.tag_id').order('count(post_tags.tag_id) desc').limit(10) %> 
      <div class="row">
        <%# @posts.each do |post| %>
          <%= render @posts %>
        <%# end %>
      </div>
      <%#= paginate @posts %>
    </div>
  </div>