<h2>管理用　会員一覧</h2>

<% @customers.each do |customer| %>
  <div class="mt-4">
    <p><%= image_tag  customer.get_profile_image(100,200) %></p>
    <p>ニックネーム：<%= customer.nickname %><p>
  </div>
  <%= link_to "削除", admin_customer_path(customer), method: :delete, "data-confirm" => "本当に削除しますか？" %><hr>
<% end %>

<%= link_to "管理用　投稿一覧へ戻る", admin_root_path %>