<%= @title %>
<h2><%= @customer.name %>様各位</h2>

<P>この度はグループへの参加ありがとうございました。</br>

活動日程のご連絡をさせていただいております。</br>
つきましては、<%= strftime('%Y:%M:%D') %>に<%= :place %>で行いたいと思います。
参加希望の方は奮ってご参加ください。


なお、このメールは日程が合わず参加できない方にも送信しております。
参加者の方は事故等無いよう、お気をつけてご参加くださいますよう、お願い申し上げます。

</p>