<h1>Admin::Home#top</h1>
<p>Find me in app/views/admin/home/top.html.erb</p>


  <%= link_to "admin_logout", destroy_admin_session_path, method: :delete %>
  <%= link_to "posts", admin_posts_path %>
  <%= link_to "customers", admin_customers_path %>

