@use '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "shouwa";
  src: url('../fonts/Syouwanonioi.ttf')
}

body, .btn {
  font-size: 28px;
  //font-family: "shouwa";
}

h1, h2 {
  font-size: 4.5rem;
}

.navbar-brand {
  font-family: "shouwa";
}

body {
  background-image: url('../images/tsunagu.jpg');
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  background-attachment: fixed;
}

.main-visual {
  height: 90vh;
  background-image: url('../images/top.hand.jpg');
  background-size: cover;
}

.main-visual-content {
  text-align: center;
  padding-top: 20%;
}


.container {
  background-color: #fff4f9;
  height: 100%
}


.form-body {
  background-color: #fff9f9;
}
