@use '~bootstrap/scss/bootstrap';

html {
  font-size: 24px;
}


body {
  background-image: url('../images/tsunagu.jpg');
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  background-attachment: fixed;
}

.main-visual {
  height: 90vh;
  background-image: url('../images/top3.img.jpg');
  background-size: cover;
}

.main-visual-content {
  text-align: center;
  padding-top: 20%;
}


.container {
  background-color: #fff4f9;
  height: 100%
}


.form-body {
  background-color: #fff9f9;
}


